.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  color: #FFFFFF;




  background-color: 
  #1575A7;
}

.img {
  width: 30px;

}